@import "style.scss";
@media  screen and (max-width: 1355px) {
    html{
        font-size: .91rem;
    }
    .wrapper{
        width: 90%;
    }
    #main{
        #top-image{
            #image-content{
                h1{
                    font-size: 2rem;
                }
                h2{
                    font-size: 1.5rem;
                }
            }
        }
        .glavni-naslovi{
            font-size: 2rem;
        }
        #about{
            .wrapper{
                img{
                    height: 22rem;
                }
                h2{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.4rem;
                }
                h3{
                    font-size: 1.1rem;
                }
                #biography{
                    a{
                        padding: .3 .9rem;
                        font-size: 1rem;
                    }
                }
            }
        }
        .services{
            .service{
                height: 23rem;
                p{
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                h2{
                    font-size: 1.5rem;
                    font-weight: 300;
                }
                img{
                    margin-bottom: 1rem;
                }
            }
            
        }
        #skills{
            margin-bottom: 6rem;
            .wrapper{
                .skill{
                .range{ 
                    width: 50%;
                    .in-range{
                        width:93%;
                    }
                    p{
                        font-size: .95rem;
                    }
                }
            }
            }
        }
        
        #contact{
            .wrapper{
                #contact-form{
                    padding: 2rem .8rem;
                    input, textarea{
                        width: 18rem;
                        font-size: 1rem;
                    }
                    textarea{
                        width: 37rem;
                    }
                    #subm{
                        width: 4.5rem;
                        font-size: 1rem;
                    }
                }
                #contact-soc{
                    h2{
                        font-size: 1.4em;
                    }
                    p{
                        line-height: 1.5rem;
                        font-size: 1rem;
                    }
                    nav{
                        ul{
                            li{
                                a{
                                    font-size: 1.2rem;
                                }  
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .wrapper{
            width: 80%;
            a{
                font-size: 1.1rem;
            }
        }
    }
    #scroll-arrow{
        right: 0;
        a{
            font-size: 1.3rem;
            width: 3rem;
            height: 3rem;
        }
    }
}
@media screen and (max-width: 1100px) { 
    #main{
        #projects{
            .wrapper{
                .p-row{
                    .project{
                        h4{
                            font-size: 1.2rem;
                        }
                        .p-img{
                        img{
                            width: 240px;
                        }
                        a{
                            font-size: 1rem;    
                        }
                        }
                        p{
                            font-size: 1rem;
                        }
                    }
                    #about-proj{
                        p{
                            line-height: 1.5rem;
                            font-size: .95rem;
                        }
                        a{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (max-width: 1025px) {
    html{
        font-size: .9rem;
    }
    header{
        .wrapper{
            #logo{
                img{
                    width: 5rem;
                }
            }
        }
    }
    #main{
        #top-image{
            height:40rem;
        }
        .glavni-naslovi{
            font-size: 2.1rem;
        }
        #about{
            margin-bottom: 7rem;
            .wrapper{
                img{
                    margin-left: 7rem;
                }
                h2{
                    font-size: 1.5rem;
                }
                h3{
                    font-size: 1.2rem;
                }
                p{
                    font-size: 1.1rem;
                }
                #pers-details{
                    margin-left: 50%;
                    transform: translate(-160px,20px);
                }
            }
        }
        .services{
            padding-bottom: 6rem;
            .wrapper{
                @include flex-col();
                .service{
                    width: 55%;
                    height: 23rem;
                    //min-width: 70%;
                    margin-bottom:4rem ;
                    p{
                        font-size: 1.12rem;
                        line-height: 1.9rem ;
                    }
                    h2{
                        font-size:1.7rem;
                    }
                    img{
                        margin-bottom: 1rem;
                        width: 20%;
                    }
                    #db{
                        width: 14%;
                    }
                }
            }
            
        }
        #skills{
            margin-bottom: 8rem;
        }
        #projects{
            .wrapper{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}
@media  screen and (max-width: 921px){
    #main{
        #skills{
            .wrapper{
                .skill{
                    .range{
                        width: 80%;
                        .in-range{
                            width: 93%;
                            p{
                                font-size: 1.12rem;
                            }
                        }
                    }
                }
            }
        }
        #projects{
            padding-bottom: 0;
            .wrapper{
                width: 90%;
                .p-row{
                    #about-proj{
                        width: 240px;
                    }
                    .project{
                        &:nth-child(4), &:nth-child(5) ,&:nth-child(6){
                            margin-top: 0rem;
                        }
                        margin-bottom: 5rem;
                    }
                }
            }
        }
        #contact{
            .wrapper{
                @include flex-col();
            #contact-form{

                input, textarea{
                    font-size: 1.1rem;
                }
                input{
                    width: 22rem;
                }
                textarea{
                    width: 45rem;
                }
            }
            #contact-soc{
                width: 50%;
                h2{
                    font-size: 1.6rem;
                }
                p{
                    font-size: 1.12rem;
                }
                nav{
                    ul{
                        li{
                            a{
                                font-size: 1.5rem;
                            }  
                        }
                    }
                }
            }
            }
        }
    }
}
@media  screen and (max-width: 770px){
    #main{
        #top-image{
            background-position: center;
        }
        #contact{
            .wrapper{
                @include flex-col();
            #contact-form{
                width: 77%;
                display: block;
                textarea , input{
                    width: 90%;
                    margin-left: 5%;
                }
                #subm{
                    margin-left: 42%;
                }
            }
            #contact-soc{
                width: 50%;
                h2{
                    font-size: 1.6rem;
                }
                p{
                    font-size: 1.12rem;
                }
                nav{
                    ul{
                        li{
                            a{
                                font-size: 1.5rem;
                            }  
                        }
                    }
                }
            }
            }
        }
    }
}
@media screen and (max-width:690px) {
    html{
        font-size: .8rem;
    }
    header{
        nav ul li a{
            font-size: 1.1rem;
            }
    }
    #main{
        #top-image{
            #image-content{
                h1{
                    font-size: 2rem;
                }
                h2{
                    font-size: 1.3rem;
                }
                hr{
                    height: .3rem;
                }
            }
        }

        #about{
            .wrapper{
                @include flex-col();
                #biography{
                    margin-top: 2rem;
                }
                #pers-details{
                    margin-left: 0;
                    transform: none;
                }
                img{
                    margin-left: 0;
                }
            }
        }
        .services{
            .wrapper{
                .service{
                    min-width: 70%;
                    p{
                        font-size: 1rem;

                    }
                    h2{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        #projects{
            .wrapper{
                .p-row{
                    @include flex-col();
                    .project{
                        margin-bottom:3rem;
                        .p-img{
                            img{
                            width: 23   0px;
                        }
                        }   
                    }
                }
            }
        }
    }
}
@media screen and (max-width:540px) {
    header{
        margin-bottom: 0rem;
        .wrapper{
            display: block;
            width: 100%;
        #logo{
            //margin-left: 42.2%;
            @include flexbox();
            justify-content: center;
            width: 100vw;
            margin-left: 0;
            a{
                height: 100%;
            }
        }
        #hide{
            #menu{
                display: block;
                font-size: 1.8rem
            }
            position: relative;
            @include flex-col;
            
            .toggler{
                position: absolute;
                z-index: 3;
                margin-top: 7px;
                display: block;
                opacity:0;
                width: 23px;
                height: 25px;
                &:checked ~ nav{
                    opacity: 1;
                    margin-top: 0;
                    visibility:visible;
                }
                &:checked ~ #menu{
                    transform: rotate(90deg);
                    z-index: 1;
                }
            }
        nav{
            margin-top: -100px;
            width: 100%;
            transition: margin .4s ease, opacity .4s ease;
            opacity: 0;
            visibility: hidden;
            ul{
                li{
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    @include flexbox();
                    justify-content: center;
                    a{
                        background-color: $crna;
                        width: 100%;
                        color: $bela;
                        &:before{
                            width: 0;
                            height: 0rem;
                            @include tranzicija;
                        }
                        &:hover{
                            background-color:  $bela;
                            color: $crna;
                        }
                        }
                    }
                }
            }
        }
    }
    }
    #main{
        #skills{
            .wrapper{
                width: 100%;
                .skill{
                    margin: 2rem 0;
                    .range{
                        width: 92%;
                        .in-range{
                            p{
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
        #contact{
            .wrapper{
                #contact-form{
                    width: 83%;
                    input, textarea{
                        font-size: .9rem;
                    }
                }
                #contact-soc{
                    width: 100%;
                    h2{
                        font-size: 1.5rem;
                    }
                    nav{
                        ul{
                            li{
                                a{
                                    font-size: 1.22rem;
                                }  
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .wrapper{
            a{
                font-size: 1.02rem;
            }
        }   
    }
}
@media screen and(max-width: 430px) {
    html{
        font-size: .77rem;
    }
    #main{
        #top-image{
            #image-content{
                h1{
                    font-size: 1.86rem;
                }
                h2{
                    font-size: 1.3rem;
                }
                hr{
                    height: 1.2px;
                }
            }
        }
        .glavni-naslovi{
            font-size: 1.8rem;
        }
        #about{
            .glavni-naslovi{
                margin-bottom: 4rem;
            }
            margin-bottom: 6rem;
            .wrapper{
                img{
                    height: 17rem;
                }
                #biography{
                    p{
                        font-size: 1rem;
                        width: 80%;
                    }
                    a{
                        margin: 20px auto ;
                    }
                }
                #pers-details{
                    width: 80%;
                    h2{
                        font-size: 1.3rem;
                    }
                    h3{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
        .services{
            .wrapper{
                .service{
                    width: 90%;
                    h2{
                        font-size: 1.3rem;
                    }
                    p{
                        font-size: .97rem;
                        line-height: 1.7rem;
                    }
                    img{
                        width: 15%;
                    }
                    #db{
                        width: 9%;
                    }
                }
            }
        }
        #skills{
            .wrapper{
                .skill{
                    .range{
                        .in-range{
                            p{
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }
        #projects{
            .wrapper{
                .p-row{
                    .project{
                        .p-img{
                            img{
                                width:200px;
                            }
                        }
                        #about-proj{
                            h4{
                                font-size: 1.5rem;
                            }
                            p{
                                font-size: .96rem;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .wrapper{
            p{
                font-size: .9rem;
            }
            a{
                font-size: 1rem;
                margin: 4px;
            }
        }   
    }
}
@media screen and (max-width: 345px){
    html{
        font-size: .73rem;
    }
    #main{
        #about{
            .wrapper{
                #biography{
                    width: 80%;
                    p{
                        text-align: center;
                        font-size: 1rem;
                    }
            }
        }
        }
        #skills{
            .wrapper{
                width: 93%;
            }
        }
        #contact{
            .wrapper{
                #contact-form{
                    width: 93%;
                }
            }
        }
        
    }
    footer{
        .wrapper{
            p{
                font-size: .84rem;
            }
            a{
                font-size: .94rem;
            }
        }   
    }
}
@media screen and (min-width:1681px){
    html{
        font-size: 1.2rem;
    }
    #main{
        #projects{
            .wrapper{
                .p-row{
                    .project{
                        &:nth-child(4){
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:2100px){
    html{
        font-size: 1.4rem;
    }
    #main{
        #projects{
            .wrapper{
                .p-row{
                    .project{
                        &:nth-child(5){
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:2560px){
    html{
        font-size: 1.4rem;
    }
    #main{
        #projects{
            .wrapper{
                .p-row{
                    .project{
                        &:nth-child(6){
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}