* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background-color: #f2f2f2;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo {
  margin-left: -1.7rem;
  height: 100%;
}

header #logo a {
  height: 0;
}

header #logo img {
  width: 5.5rem;
  height: 100%;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.17rem;
  color: #6e6e6e;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
  position: relative;
}

header nav ul li a:hover {
  color: #3399ff;
}

header nav ul li a:before {
  content: '';
  width: 0;
  height: .09rem;
  background-color: #3399ff;
  position: absolute;
  bottom: -.4rem;
  left: 0;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
}

header nav ul li a:hover:before {
  width: 100%;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

#main #top-image {
  background-image: url("../img/top-image4.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 43rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #top-image #image-content {
  position: relative;
  color: #f2f2f2;
}

#main #top-image #image-content h1 {
  font-size: 2.7em;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
  color: #3399ff;
}

#main #top-image #image-content h2 {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
}

#main #top-image #image-content hr {
  width: 50%;
  background-color: #f2f2f2;
  margin: 2rem 0;
  border: none;
  outline: none;
  height: 3px;
}

#main #top-image #cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0);
  top: 0;
  left: 0;
}

#main .glavni-naslovi {
  font-size: 2.2rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
  text-align: center;
  font-size: 2.22rem;
  color: #3399ff;
  margin: 2rem 0 6rem 0;
  color: #2e2e2e;
}

#main #about {
  margin-bottom: 50px;
}

#main #about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#main #about .wrapper img {
  height: 24rem;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  border-radius: 1rem;
}

#main #about .wrapper #biography {
  width: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #about .wrapper #biography p {
  margin-top: 2rem;
}

#main #about .wrapper #biography a {
  text-decoration: none;
  font-size: 1.17rem;
  color: #6e6e6e;
  border-radius: 0.2rem;
  color: #f2f2f2;
  padding: .5rem 1rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 5rem;
  background-color: #3399ff;
}

#main #about .wrapper #biography a:hover {
  background-color: #6e6e6e;
}

#main #about .wrapper h2 {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
  margin-bottom: 1.2rem;
  color: #2e2e2e;
  text-align: center;
}

#main #about .wrapper h3 {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
  margin-bottom: .2rem;
  color: #3399ff;
}

#main #about .wrapper p {
  font-size: 1rem;
  color: #2e2e2e;
  text-align: justify;
  line-height: 1.3rem;
}

#main .services, #main #projects {
  background-color: #2e2e2e;
  padding: 1.5rem 0 9rem 0;
  width: 100%;
  margin: 2rem 0 2rem 0;
  color: #f2f2f2;
}

#main .services h1, #main #projects h1 {
  color: #f2f2f2;
  margin-top: 1rem;
}

#main .services .wrapper, #main #projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .services .wrapper .service, #main #projects .wrapper .service {
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  -webkit-box-shadow: 1px 5px 25px #3399ff;
          box-shadow: 1px 5px 25px #3399ff;
  width: 30%;
  height: 23rem;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
}

#main .services .wrapper .service:hover, #main #projects .wrapper .service:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 1px 27px #f2f2f2;
          box-shadow: 1px 1px 27px #f2f2f2;
}

#main .services .wrapper .service img, #main #projects .wrapper .service img {
  margin: 2rem;
  width: 30%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#main .services .wrapper .service #db, #main #projects .wrapper .service #db {
  width: 22%;
}

#main .services .wrapper .service p, #main #projects .wrapper .service p {
  margin: 20px 0;
  text-align: center;
}

#main #skills {
  margin-bottom: 3rem;
}

#main #skills .wrapper {
  margin-top: -20px;
  /* display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                flex-direction: column;*/
}

#main #skills .wrapper #skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem;
}

#main #skills .wrapper #skill .range, #main #skills .wrapper #skill .range .in-range {
  -webkit-box-shadow: 0.5px 0.5px 5px #2e2e2e;
          box-shadow: 0.5px 0.5px 5px #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  position: relative;
  height: 2rem;
  background-color: #3399ff;
  border-radius: 1rem;
}

#main #skills .wrapper #skill .range .in-range {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 93%;
  background-color: #6e6e6e;
  border-radius: 1rem 0 0 1rem;
}

#main #skills .wrapper #skill .range p, #main #skills .wrapper #skill .range .in-range p {
  margin: 0 .5rem  0 .5rem;
  color: #f2f2f2;
  font-size: 1rem;
}

#main #skills .wrapper #skill:nth-child(2) .range .in-range {
  width: 86%;
}

#main #skills .wrapper #skill:nth-child(3) .range .in-range {
  width: 65%;
}

#main #skills .wrapper #skill:nth-child(4) .range .in-range {
  width: 50%;
}

#main #skills .wrapper #skill:nth-child(5) .range .in-range {
  width: 75%;
}

#main #skills .wrapper #skill:nth-child(6) .range .in-range {
  width: 65%;
}

#main #skills .wrapper #skill:nth-child(7) .range .in-range, #main #skills .wrapper #skill:nth-child(8) .range .in-range {
  width: 25%;
}

#main #projects {
  padding-bottom: 5.6rem;
}

#main #projects .glavni-naslovi {
  margin-bottom: 3rem;
}

#main #projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #projects .wrapper .p-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 2rem 0;
}

#main #projects .wrapper .p-row #about-proj {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

#main #projects .wrapper .p-row #about-proj h4 {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
  margin: 1.54rem;
  font-weight: 300;
}

#main #projects .wrapper .p-row #about-proj p {
  text-align: center;
  line-height: 1.45rem;
}

#main #projects .wrapper .p-row .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px #f2f2f2;
          box-shadow: 0 0 10px #f2f2f2;
  padding-bottom: 20px;
  border-radius: 0.3rem;
  position: relative;
}

#main #projects .wrapper .p-row .project h4 {
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
  margin: .84rem;
  font-weight: 300;
}

#main #projects .wrapper .p-row .project .p-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #projects .wrapper .p-row .project .p-img:hover a {
  opacity: 1;
}

#main #projects .wrapper .p-row .project .p-img:hover img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#main #projects .wrapper .p-row .project img {
  width: 320px;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  border-radius: .3rem .3rem 0 0;
}

#main #projects .wrapper .p-row .project a {
  position: absolute;
  margin-top: 42%;
  opacity: 0;
}

#main #projects .wrapper .p-row .project a:hover {
  background-color: #6e6e6e;
}

#main #projects .wrapper .p-row .project p {
  margin-top: 1.2rem;
}

#main #projects .wrapper .two {
  margin-bottom: 0;
}

#main #projects .wrapper a {
  border-radius: 0.3rem;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  text-decoration: none;
  font-size: 1.17rem;
  color: #6e6e6e;
  color: #f2f2f2;
  background-color: #3399ff;
  padding: .5rem 1.2rem;
}

#main #projects .wrapper a:hover {
  background-color: #6e6e6e;
}

#main #projects .wrapper #about-proj a {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  margin-top: 2rem;
}

#main #contact {
  margin: 1.2rem 0 4rem 0;
}

#main #contact .glavni-naslovi {
  margin-bottom: 4rem;
}

#main #contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#main #contact .wrapper #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1rem;
  -webkit-box-shadow: 0 0 5px #2e2e2e;
          box-shadow: 0 0 5px #2e2e2e;
  border-radius: 0.5rem;
}

#main #contact .wrapper #contact-form input, #main #contact .wrapper #contact-form textarea {
  width: 20rem;
  margin: .8rem .5rem;
  padding: 0.9rem 0.9rem 0.3rem 0.9rem;
  color: #6e6e6e;
  outline: none;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 0.4px solid #6e6e6e;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
}

#main #contact .wrapper #contact-form input:focus, #main #contact .wrapper #contact-form textarea:focus {
  border-bottom: 0.4px solid #3399ff;
}

#main #contact .wrapper #contact-form textarea {
  width: 41.2rem;
}

#main #contact .wrapper #contact-form #subm {
  width: 5rem;
  margin: 1.2rem 0;
  padding: .6rem 1rem;
  color: #f2f2f2;
  cursor: pointer;
  background-color: #3399ff;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}

#main #contact .wrapper #contact-form #subm:hover {
  background-color: #6e6e6e;
}

#main #contact .wrapper #contact-soc {
  padding: 1rem 2rem;
  width: 30%;
}

#main #contact .wrapper #contact-soc p {
  line-height: 1.4rem;
  margin: 2rem 0;
  font-size: 1.2rem;
  color: #2e2e2e;
  text-align: center;
}

#main #contact .wrapper #contact-soc h2 {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  margin: 10px 0;
  text-align: left;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 1.8rem;
}

#main #contact .wrapper #contact-soc nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #contact .wrapper #contact-soc nav ul li {
  display: inline;
  margin: .3rem;
}

#main #contact .wrapper #contact-soc nav ul li:first-child {
  margin-left: 0;
}

#main #contact .wrapper #contact-soc nav ul li a {
  text-decoration: none;
  font-size: 1.17rem;
  color: #6e6e6e;
  font-size: 1.3rem;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
}

#main #contact .wrapper #contact-soc nav ul li a:hover {
  color: #3399ff;
}

footer {
  height: 6rem;
  background-color: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f2;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
}

footer .wrapper a {
  text-decoration: none;
  font-size: 1.17rem;
  color: #6e6e6e;
  color: #f2f2f2;
  margin: 0 1rem;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
}

footer .wrapper a:hover {
  color: #3399ff;
}

#scroll-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  font-size: 2rem;
  bottom: 1%;
  right: 1%;
}

#scroll-arrow a {
  text-decoration: none;
  font-size: 1.17rem;
  color: #6e6e6e;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  -webkit-transition: all  .5s ease;
  transition: all  .5s ease;
  opacity: 0;
  cursor: pointer;
  border-radius: 262rem;
  background-color: #2e2e2e;
  color: #f2f2f2;
  transition: all  .5s ease;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 4px #6e6e6e;
          box-shadow: inset 0px 0px 4px #6e6e6e;
  background-color: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
/*# sourceMappingURL=style.css.map */